{% extends "@CursoSymfonyEventos/layout.html.twig" %}
{% block title %}Eventos{% endblock %}
{% block metadesc %}Se impartiran las charlas: 
    {% for evento in eventos %}
        {{ evento.titulo | join(",") }}
    {% endfor %}
{% endblock %}
{% block pageid 'eventos' %}

    {% block contenido %}
        {# CONTENIDO ORIGINAL DEL ARCHIVO Y SIN LAS ETIQUETAS <html><body> … </body></html> #}

        <h1>Eventos</h1>
        {% for evento in eventos %}
            <div>
                <div class="grid_2 alpha">
                    {{ evento.hora | date('H:i') }} - {{ evento.horaFinalizacion | date('H:i') }}
                </div>
                <div class="grid_10 omega">
                    <a href="{{ path('evento', {'slug': evento.slug} ) }}">{{ evento.titulo }}</a>
                    <p>{{ evento.descripcion }}</p>
                </div>
            </div>
        {% endfor %}
    {% endblock %}
    {% block lateral %}
        <h3>Falta alg&uacute;n evento?</h3>
        <p>Accede a la secci&oacute;n <a href="#"><em>Call for papers</em></a> y env&iacute;anos tu propuesta</p>
        {{ parent() }}
    {% endblock %}  