<html><body> <!-- borrar -->
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in evento.usuarios %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ usuario.dni }}</td>
                        <td>{{ usuario.nombre }} {{ usuario.apellidos }} </td>
                        <td>{{ usuario.telefono }}</td>
                        <td>{{ usuario.email }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No hay ningún usuario inscripto</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body></html> <!-- borrar -->
